/*About Us section styles*/

.about-section {
  background: url(/img/food6.jpg) left;
  background-repeat: no-repeat;
  min-height: 90vh;
  @extend %container-props;
  background-size: 65%;
  background-color: $light-green;
  overflow: hidden;
  padding: 100px 0;
}

.internal-section {
  width: 65%;
  background-color: white;
  padding: 12rem;

  & h2 {
    font-size: 5rem;
    margin-bottom: 2rem;
    color: $black-ish;
  }
}

.internal-text {
  font-size: 1.7rem;
  text-align: justify;
  line-height: 2;
  color: $grey-shadow;
}

/*About Us Media queries*/

@media screen and (max-width: 1025px) {
  .internal-section {
    padding: 10rem;
  }
}

@media screen and (max-width: 769px) {
  .about-section {
    background-size: 120%;
    padding: 10rem 4rem;
  }
  .internal-section {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .about-section {
    padding: 0;
  }
  .internal-section {
    padding: 10rem;
  }

  .internal-section h2 {
    text-align: center;
    margin-bottom: 5rem;
  }
}
