/*Contact form styles*/

.main-contact {
  margin: auto;
  color: map-get($navbar-color, primary);
}

.contact-us h2 {
  font-family: $secondary-font;
  font-size: 9rem;
  min-height: 20vh;
  @extend %container-props;
}

.fas {
  color: map-get($navbar-color, primary);
}

.btn-form {
  font-size: 1.5rem;
  display: inline-block;
  padding: 0.8rem 1.8rem;
  margin-top: 2rem;
  background-color: $medium-green;
  color: white;
}

.btn-form:hover {
  transform: scale(1.07);
}

/*Contact Media queries*/

@media screen and (max-width: 425px) {
  .contact-us h2 {
    font-size: 8rem;
  }

  .fas {
    display: none;
  }
}
