/* Clickable logo */

.logo {
  font-family: $secondary-font;
  font-size: 6rem;
  padding: 0rem 2rem;
  padding-left: 4rem;
}

.logo-link {
  text-decoration: none;
  color: $dark-green;
}

.logo-link:hover {
  color: $dark-green;
}

.header {
  min-height: 10vh;
  top: 0px;
  z-index: 3;
}

/*map-get e.g. for deliverable*/

$navbar-color: (
  primary: $dark-green,
  secondary: white,
);

@mixin navlink-idle {
  color: map-get($navbar-color, primary);
  padding: 0rem 2rem;
  transition: background-color 0.4s;
}

@mixin navlink-hover {
  background-color: $dark-green;
  color: map-get($navbar-color, secondary);
}

.navbar-light .navbar-nav .nav-link {
  @include navlink-idle;
}

.navbar-light .navbar-nav .nav-link:hover {
  @include navlink-hover;
}

#navbarNav {
  justify-content: flex-end;
  padding: 2rem;
}
