/*Fonts*/

$primary-font: "Poppins", sans-serif;
$secondary-font: "Allura", cursive;

/*Color*/

$light-green: #798c87;
$dark-green: #012626;
$medium-green: #325959;
$black-ish: #0b0d0d;
$grey-shadow: #4f4e4e;
