* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

h1 {
  font-size: 2.6rem;
}

li,
button,
label,
input,
p {
  font-size: 2rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3rem;
}

h4,
h5 {
  font-size: 2.8rem;
}

body {
  font-family: "Poppins", sans-serif;
}

/*Media query*/
@media screen and (max-width: 1024px) {
  html {
    font-size: 45%;
  }
}

/*Fonts*/
/*Color*/
.logo {
  font-family: "Allura", cursive;
  font-size: 6rem;
  padding: 0rem 2rem;
  color: #012626;
  padding-left: 4rem;
}

.header {
  min-height: 10vh;
  top: 0px;
  z-index: 3;
}

/*map-get e.g. for deliverable*/
.navbar-light .navbar-nav .nav-link {
  color: #012626;
  padding: 0rem 2rem;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.navbar-light .navbar-nav .nav-link:hover {
  background-color: #012626;
  color: white;
}

#navbarNav {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 2rem;
}

/*Hero section w/pasta plate*/
.banner {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.35)), to(transparent)), url("../img/pasta3.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.35), transparent), url("../img/pasta3.jpg");
  min-height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner h2 {
  font-size: 12rem;
  font-weight: 400;
  text-shadow: 0 4px 0 #4f4e4e;
}

/* New + Notable + Paragraph */
.new_notable {
  min-height: 50vh;
  background-color: #798c87;
  color: white;
}

/* Placeholder*/
.secondary__title, .secondary__container, .contact-us h2, .about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.secondary__title h2 {
  font-size: 10rem;
}

.secondary__container p {
  font-size: 2.3rem;
}

.secondary__container a {
  color: white;
}

/* Gallery w/3 meals */
.gallery {
  background-color: #012626;
  min-height: 50vh;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.gallery img {
  width: 90%;
}

/* More than just pasta*/
.pasta__main {
  background-color: #325959;
}

.pasta__main h2 {
  color: white;
  font-size: 10rem;
}

.pasta__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.pasta__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pasta__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
}

.pasta__container img {
  width: 100%;
}

/*How to get here + map */
.location {
  background-color: #0b0d0d;
}

.location__dir h4 {
  font-size: 6rem;
  text-align: center;
  padding-bottom: 3rem;
}

.location__dir p {
  font-size: 2rem;
}

.ratio {
  width: 90%;
}

/*Index Media queries*/
@media screen and (max-width: 1024px) {
  .pasta__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pasta__title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .pasta__title h2 {
    font-size: 8rem;
  }
  .location__dir h4 {
    font-size: 6rem;
  }
  .location__dir p {
    display: none;
  }
}

@media screen and (max-width: 426px) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 376px) {
  .banner h2 {
    font-size: 9rem;
  }
}

/*Main grid */
.main__container {
  background-color: white;
  overflow: hidden;
}

.main__container img {
  width: 100%;
}

.main__header {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 2rem;
  color: white;
}

.main__header h1 {
  font-size: 7rem;
  margin-bottom: 2rem;
  line-height: 1.2;
  color: #0b0d0d;
}

.main__header h1 span {
  color: #325959;
  text-decoration: underline;
}

.main__header p {
  font-size: 2rem;
  color: #0b0d0d;
}

.card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.card h3 {
  margin-bottom: 2rem;
}

.card p {
  font-size: 1.5rem;
}

.card > div {
  padding: 2rem;
}

.card:nth-child(even) img {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

/* Go to Recipe buttons*/
.btn {
  font-size: 1.5rem;
  display: inline-block;
  padding: 0.8rem 1.8rem;
  margin-top: 2rem;
  background-color: #325959;
}

.btn:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

/*Media queries*/
@media screen and (max-width: 768px) {
  .card {
    display: block;
  }
}

.footer {
  background-color: white;
}

.footer__list a {
  color: #012626;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.footer__list a:hover {
  background-color: #012626;
  color: white;
}

/*Contact form styles*/
.main-contact {
  margin: auto;
  color: #012626;
}

.contact-us h2 {
  font-size: 6rem;
  min-height: 20vh;
}

.fas {
  color: #012626;
}

.btn-form {
  font-size: 1.5rem;
  display: inline-block;
  padding: 0.8rem 1.8rem;
  margin-top: 2rem;
  background-color: #325959;
  color: white;
}

.btn-form:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

/*Contact Media queries*/
@media screen and (max-width: 425px) {
  .fas {
    display: none;
  }
}

/*About Us section styles*/
.about-section {
  background: url(/img/food6.jpg) left;
  background-repeat: no-repeat;
  min-height: 90vh;
  background-size: 65%;
  background-color: #798c87;
  overflow: hidden;
  padding: 100px 0;
}

.internal-section {
  width: 65%;
  background-color: white;
  padding: 12rem;
}

.internal-section h2 {
  font-size: 5rem;
  margin-bottom: 2rem;
  color: #0b0d0d;
}

.internal-text {
  font-size: 1.7rem;
  text-align: justify;
  line-height: 2;
  color: #4f4e4e;
}

/*About Us Media queries*/
@media screen and (max-width: 1025px) {
  .internal-section {
    padding: 10rem;
  }
}

@media screen and (max-width: 769px) {
  .about-section {
    background-size: 120%;
    padding: 10rem 4rem;
  }
  .internal-section {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .about-section {
    padding: 0;
  }
  .internal-section {
    padding: 10rem;
  }
  .internal-section h2 {
    text-align: center;
    margin-bottom: 5rem;
  }
}
/*# sourceMappingURL=styles.css.map */